Brotli          
cryptography    
cvlib                  
facenet-pytorch 
faiss-cpu       
firebase-admin  
grpcio-status   
h2              
insightface     
notebook        
onnxruntime    
openpyxl        
pip             
psycopg2-binary 
PySocks         
schedule        
tf_keras       
tinycss2       